div.texttable{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
  
div.texttable div.textrow{
    float:left;
    margin-left: 5px;
    margin-right: 5px;
    margin-top:2px;
    margin-bottom:2px; 
    text-align:left;
    border-style: dotted;
	border-width: 1px;
}

div.texttable div.textrow div.header {
    font-weight: bold;
}
